header{
    margin: 2rem;
    padding: 0.5rem;
    background: #21ba45;
    display: grid;
    grid-template-areas: "title logo";
    grid-template-colums: 3fr 1fr;

    box-shadow: 0 0 2px 2px #bdbdbd;
}

header h1{
    color: #fff;
    margin: 0;
}

header h3{
    color: #fff;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

header section{
    align-self: center;
    margin: 0 0 0 1rem;
}

header img{
    width: 64px;
    height: 64px;
    justify-self: end;
    margin: 0 1rem 0 0;
}

.footer{
    position: relative;
    margin: 2rem;
    padding: 2rem 0 4rem 2rem;
    box-shadow: 0 0 1px 1px;    
}

footer{
    display: flex;  
    position: absolute;
    bottom: 10px;
}

footer h3{
    width: 200px;
    color: #fff;
    padding: 5px;
    text-align: center;
}


footer section{
    display:flex
}

footer .start-mark .body{
    height: 32px;
    background: #21ba45;
}

footer .start-mark .triangle{
    width: 0; 
    height: 0; 
    border-left: 16px solid #21ba45;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent; 
}

footer .end-mark{
    width: 150px;
    border-left: 16px solid white;
    border-top: 16px solid lightgray;
    border-bottom: 16px solid lightgray;
    padding-left: 1rem;
    margin-right: 1rem;
}

footer .end-mark section{
    position: absolute;
    top: 5px;
    display: flex;

    color: white;
    font-weight: 700;
}

footer .end-mark:hover{
    opacity: 0.5;
}

footer section:nth-child(2):after{
    content: '';
    border-left: 16px solid lightgray;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent; 
    position: absolute;
    top: 0;
    right: 326px;
}

footer section:nth-child(3):after{
    content: '';
    border-left: 16px solid lightgray;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent; 
    position: absolute;
    top: 0;
    right: 162px;
}

footer section:nth-child(4):after{
    content: '';
    border-left: 16px solid lightgray;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent; 
    position: absolute;
    top: 0;
    right: -2px;
}

footer .end-mark section img{ 
    width: 24px;
    height: 24px;
    margin-right: 1rem;
}